@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=VT323');
body{
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
  padding:0;
}
h1, h2, h3{margin:0; text-align: center; font-family:'VT323'; font-weight:normal;}
.all{
  margin:20px 10px;
  border-radius:5px;
  box-shadow:-3px 3px 3px #ccc;
  width: 140px;
  overflow: hidden;
  background:#F8F8F8;
}
.top{
  background: #f4f4f4;
  height:80px;
  line-height: 80px;
}
.pull-left{float:left;}
.clear{clear: both;}
.canvas{
background: #474747;

}
.canvas span{
  height: 10px; width: 10px; float: left;
}
#hamburger{width:210px}
.canvas span.round{border-radius:50%;}
span.AD57FF{background:#AD57FF;}
span.F2F2F2{background:#F2F2F2;}
span.c4F0B89{background:#4F0B89;}
span.FFA9FB{background:#FFA9FB;}
span.c000{background:#000;}
.F0DDB9{background:#F0DDB9;}
.D1A873{background:#D1A873;}
.FF4545{background:#FF4545;}
.c00BF59{background:#00BF59;}
.c78FF85{background:#78FF85}
#controllers{}
.control{
  height:30px; width:30px;
  background:#ccc;
  display: inline-block;
  margin:5px;
  cursor:pointer;
}
.control#round{
  border-radius:50%;
}
.control.active{
  background:#70FF61;
}

/** color palette**/
.colorpalette{height: 30px;}
.colorpalette .jscolor{
  height:25px; width: 25px;
  border:#888 1px dashed;
  float:left;
  border-radius:3px;
  margin:2px;
  cursor:pointer;
}

/** color picker**/
#colorpicker{
  padding:30px;
  background:#E6E6E6;
}
#colorpicker .jscolor{
  height:150px; width:150px;
  border:#ccc 1px solid;
  border-radius:5px;
  text-align:center;
  line-height: 150px;
}
#colorpicker h2{text-align: left;}
